{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <br>
                <h4>Actores y Películas</h4>
                <br>
                <div class="list-group">
                    <a href="/actors" class="list-group-item list-group-item-action">Actores</a>
                    <a href="/movies" class="list-group-item list-group-item-action">Películas</a>
                    <a href="/actorsmovies" class="list-group-item list-group-item-action">Actores y Películas</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
        "%kernel.root_dir%/Resources/assets/js/app.js"
        filter="?jsqueeze" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
