{% extends 'base.html.twig' %}

{% block body %}
    <div class="container"><br>
        <h1>Listado de Películas</h1><br>
        <a href="{{ path('movies_new') }}" class="btn btn-primary">Crear Nueva Película</a><br><br>
        <div class="row">
            {% for movie in movies %}
                <div class="col-lg-6 form-group">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ movie.gender }} - {{ movie.year }}</h6>
                            <p class="card-text">{{ movie.sinopsis }}</p>
                            <a href="{{ path('movies_show', { 'id': movie.id }) }}" class="card-link">Ver Más</a>
                            <a href="{{ path('movies_edit', { 'id': movie.id }) }}" class="card-link">Editar Información</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  
{% endblock %}
