{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movie</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ movie.name }}</td>
            </tr>
            <tr>
                <th>Sinopsis</th>
                <td>{{ movie.sinopsis }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ movie.year }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ movie.gender }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if movie.createdAt %}{{ movie.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if movie.updatedAt %}{{ movie.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if movie.deletedAt %}{{ movie.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movies_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movies_edit', { 'id': movie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
