{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actorsmovies list</h1>

    <table>
        <thead>
            <tr>
                <th>Role</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actorsMovie in actorsMovies %}
            <tr>
                <td><a href="{{ path('actors_show', { 'id': actorsMovie.id }) }}">{{ actorsMovie.role }}</a></td>
                <td>{{ actorsMovie.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actors_show', { 'id': actorsMovie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('actors_edit', { 'id': actorsMovie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actors_new') }}">Create a new actorsMovie</a>
        </li>
    </ul>
{% endblock %}
