{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actorsmovie</h1>

    <table>
        <tbody>
            <tr>
                <th>Role</th>
                <td>{{ actorsMovie.role }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ actorsMovie.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actors_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actors_edit', { 'id': actorsMovie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
