{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Lista de actores</h1>
    <a href="{{ path('actors_new') }}" class="btn btn-primary">Crear Nuevo Actor</a>
    <br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td><a href="{{ path('actors_show', { 'id': actor.id }) }}" title="Ver detalle">{{ actor.name }}</a></td>
                <td>{{ actor.id }}</td>
                <td>
                    <a href="{{ path('actors_show', { 'id': actor.id }) }}" class="btn btn-success">Ver más</a>
                    <a href="{{ path('actors_edit', { 'id': actor.id }) }}" class="btn btn-info">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    

    
{% endblock %}
